@{
    ViewBag.Title = "Главная";
}

@section MenuMain{
    <ul>
        <li class="active"><a href="#">Главная</a></li>
        <li>@Html.ActionLink("Описание", "About", "Home")</li>
    </ul>
}

@section Description{
    <article class="hero clearfix">
        <div class="col_100">
            <a href="/About" title="Подробнее"><h1>Описание</h1></a>
            <p>Web-ориентированный программный модуль "Временные ряды" создан для визуализации одномерных временных рядов A(n) на основе JavaScript-библиотек визуализации и программного веб-интерфейса.</p>
            <p>Временные ряды для визуализации загружаются в виде текстового файла со значениями, n-номер строки в файле.</p>
        </div>
    </article>
}
<article class="article clearfix">
    <div class="col_66">
        <h3>Модуль обеспечивает следующие возможности:</h3>
        <ol>
            <li>Авторизацию пользователей</li>
            <li>Загрузку временного ряда (файла со значениями)</li>
            <li>Хранение нескольких временных рядов пользователя на сервере</li>
            <li>Графическое изображение временного ряда</li>
            <li>Двумерное графическое отображение «фазового портрета» (зависимость A(n) от A(n-tau), tau вводится пользователем)</li>
        </ol>
        <hr />
        <h3>В разработке:</h3>
        <ol>
            <li>Графическое изображение выбранной части ряда (вводится начало и конец интервала)</li>
            <li>Трехмерное графическое отображение «фазового портрета» (зависимость A(n) от A(n-tau) и от A(n-tau*2), tau вводится пользователем)</li>
            <li>Отображение двух выбранных временных рядов на одном графике (1D, 2D, 3D)</li>
        </ol>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
</article>

@section MenuBottom{
    <ul>
        <li class="active"><a href="#">Главная</a></li>
        <li>@Html.ActionLink("Описание", "About", "Home")</li>
    </ul>
}
