@{
    ViewBag.Title = "Ошибка 404";
}

@section MenuMain{
    <ul>
        <li>@Html.ActionLink("Главная", "Index", "Home")</li>
        <li>@Html.ActionLink("Описание", "About", "Home")</li>
    </ul>
}
<article class="article clearfix">
    <br />
    <div class="col_100 not-found">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <div style="text-indent: 20px;">
            <h1> Ошибка 404</h1>
            <h2>Указанный адрес не найден.</h2>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
</article>

@section MenuBottom{
    <ul>
        <li>@Html.ActionLink("Главная", "Index", "Home")</li>
        <li>@Html.ActionLink("Описание", "About", "Home")</li>
    </ul>
}
